body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    color: #333;
}

#reservation-list {
    margin-top: 20px;
    text-align: left;
}

#reservation-list div {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

#reservation-list h3 {
    color: #444;
    margin: 0;
}

#reservation-list p {
    margin: 5px 0;
    color: #666;
}
